<h2>This is the sign-up page!</h2>

<form action="/users" method="POST">

    <label>Email:
        <input type="text" name="user[email]" value="<%= @user.email ? @user.email : "" %>">
    </label>

    <br>

    <label>Password:
        <input type="text" name="user[password]" value="">
    </label>

    <input type="submit" value="Sign Up">

</form>