// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown{
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    border: 2px solid $lightest-gray;
    border-radius: 2%;
    min-width: 160px;
    right: 0px;
    top: 24px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

// .drop_btn:hover + .dropdown{
//     display: block;
// }

.hi {
    position: relative;
}

.hi:hover #gear-dropdown{
    display: block;
}


#gear-dropdown li {
    padding: 10px;
}

.editions li:hover{
    background: gray;
}


// #gear-dropdown{
//     position: relative;
//     display: inline-block
// }

// #gear-dropdown:hover .gear-dropdown{
//     display: block;
// }

// #gear-dropdown:hover .drop_btn {
//     background: lightgrey;
// }




