.main-nav {
  margin: 0 auto;
}

.left-nav > ul,
.right-nav > ul {

}

.left-nav {
  float: left;
  > ul {
    > li {

    }
  }

  span {

  }
}

.right-nav  {
  float: right;
  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
