/* PHASE 1: Header */

body {

}

.header {
  background-color: red;
  display: block;
  color: white;
}

/* .header-nav {
  margin: auto;
  width: 1000px;
  background-color: red;
  border-bottom: 3px solid skyblue;
} */

.header-nav {
  display: flex;
  margin: auto;
  width: 1000px;

}


.header-logo {
  border-right: 3px solid skyblue;
  border-left: 3px solid skyblue;
  float: left;
}

.header-logo:hover {
  cursor: pointer;
  background-color: lightblue;
}

.header-list {
  margin-left: auto;

  float: right;
  display: flex;
  border-right: 3px solid skyblue;
}

.header-list li{
  border-left: 3px solid skyblue;
}

.header-list li:hover{
  cursor: pointer;
  background-color: lightblue;
}

.header a {
  display: block;
  padding: 15px;
}
