<header class="main-nav group">
	<nav class="left-nav group">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="nav-right group">
		<ul>
			<li>
				<a>Subscribe</a>
			</li>
			<li>
				<a>Login</a>
			</li>
		</ul>
	</nav>
</header>