.game-div{
    border: 2px solid red;
    width: 500px;
    margin: 0 auto;
}

.tile-row{
  width: 480px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.tile-container{
  background: lightgray;
  border-style: outset;
  border: 1px solid black;
  width: 50px;
}

.tile {
  display: flex;
  justify-content: center;
}
